<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Creation Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
    }
    h1 {
      text-align: center;
    }
    form {
      max-width: 500px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="file"],
    input[type="text"],
    button {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 16px;
    }
    button {
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    @media (max-width: 767px) {
      form {
        padding: 10px;
      }
      input[type="file"],
      input[type="text"],
      button {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  </style>
</head>
<body>
  <h1>Create Personalised File</h1>
  <form action="/generate-image" method="post" enctype="multipart/form-data">
    <div>
      <label for="image1">Main image:</label>
      <input type="file" name="image1" id="image1" required>
    </div>
    <div>
      <label for="image2">Brand logo:</label>
      <input type="file" name="image2" id="image2" required>
    </div>
    <div>
      <label for="text1">Caption:</label>
      <input type="text" name="text1" id="text1" required>
    </div>
    <div>
      <label for="text1">Personalised message:</label>
      <input type="text" name="text1" id="text1" required>
    </div>
    <!-- <div>
      <label for="text2">Text 2:</label>
      <input type="text" name="text2" id="text2" required>
    </div> -->
    <button type="submit">Create Image</button>
  </form>
</body>
</html>
